In [3]:
sc.version

'2.4.4.2.6.99.201-SNAPSHOT'

In [4]:
import org.apache.spark.sql._
import org.apache.spark.sql.functions._

import org.apache.spark.sql._
import org.apache.spark.sql.functions._

In [5]:
val yellowdf = spark.read.option("header","true").option("inferSchema","true").parquet("abfss://opendataset@internalsandboxwe.dfs.core.windows.net/nyctlc/yellow/")

yellowdf: org.apache.spark.sql.DataFrame = [vendorID: string, tpepPickupDateTime: timestamp ... 21 more fields]

In [ ]:
val df1 = yellowdf.withColumn("Date", (col("tpepPickupDateTime").cast("date")))
display(df1)

In [ ]:
df1.createOrReplaceTempView("taxidata")

In [ ]:
%%sql
select * from taxidata limit 10

In [ ]:
%%sql
select vendorID, count(*) as reccount, sum(totalAmount) as Total, avg(totalAmount) as Avg from taxidata group by vendorID